{% extends 'base.html.twig' %}
{% form_theme editGameForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajouter ou modifier un jeu | LISTaGAME{% endblock %}

{% block javascript %}
    {% for jsFile in jsFiles %}
        {% set jsFile = asset('js/' ~ jsFile) %}
        <script src="{{ jsFile }}"></script>
    {% endfor %}
{% endblock %}

{% block content %}

    {% if editGame %}
        <h1>Modifier un jeu</h1>
    {% else %}
        <h1>Ajouter un jeu</h1>
    {% endif %}

    {{ form_start(editGameForm) }}

        {{  form_row(editGameForm.name, {
            'attr': {
                'placeholder': 'Titre de l\'article'
            }}) 
        }}
        
        {{  form_row(editGameForm.content, {
            'attr': {
                'placeholder': 'Contenu de l\'article'
            }}) 
        }}
        {# {{ form_row(editGameForm.developers) }} #}

        <hr>

        <div>
            {{ form_row(editGameForm.developers, {
                'attr': {
                    'class': 'game_lists'
                }})
            }}
            <button type="button" class="addListButton btn btn-danger">Ajouter un développeur</button>
        </div>

        <hr>

        <div>
            {{ form_row(editGameForm.genres, {
                'attr': {
                    'class': 'game_lists'
                }}) 
            }}
            <button type="button" class="addListButton btn btn-danger">Ajouter un genre</button>
        </div>

        <hr>

        <div>
            {{ form_row(editGameForm.modes, {
                'attr': {
                    'class': 'game_lists'
                }}) 
            }}
            <button type="button" class="addListButton btn btn-danger">Ajouter un mode</button>
        </div>

        <hr>

        <div>
            {{ form_row(editGameForm.releaseDates, {
                'label': 'Date de sortie',
                'attr': {
                    'class': 'game_lists'
                }}) 
            }}
            <button type="button" class="addListButton btn btn-danger">Ajouter une date</button>
        </div>

        {# {{ form_row(editGameForm.developers, {'full_name': 'game[developers][]'}) }} #}



        {# <h4>Le ou les développeur(s) du jeu :</h4>
        <div>
            <div class="entity-group-game-edit">
                <div class="form-group bloc-entity-game-edit" >
                    <a href="#" class="cross-cancel"><i class="fas fa-times-circle fa-2x cross-game-edit"></i></a>
                    <select name="developer[0]" class="form-control developerList mb-2">
                            <option value="">Choisissez un développeur</option>
                        {% for developer in developers %}
                            <option value="{{ developer.id }}">{{ developer.name }}</option>
                        {% endfor %}
                    </select>
                    <span class="redText"></span>
                </div>
            </div>

            <button type="button" class="btn btn-primary addEntityForm">Ajouter un développeur</button>
        </div>
        <hr> #}


        {% if editGame %}
            <button type="submit" class="btn btn-success mt-5">Modifier</button>
        {% else %}
            <button type="submit" class="btn btn-success mt-5">Ajouter</button>
        {% endif %}

    {{ form_end(editGameForm) }}
    {#{{ form_end(editGameForm, {'render_rest': false}) }}#}

{% endblock %}